/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-brand:               $brand-color;
$color-brand-hard:          #01949a;
$color-product-information: #fafafa;

$color-yelp: #FF4E00;

// Headings


// Links


// Forms


// Footer
