# https://github.com/robwierzbowski/grunt-build-control#working-with-gitignores
# Unignore everything
!**/*

# Re-ignore things
node_modules/*
.npm-debug.log
tmp
dist/
app/img/
bower_components
*.sass-cache/
vendor/