@charset "UTF-8";
/*-------------------------------------------*      #PROJECT-NAME
\*-------------------------------------------*/
/**
 * This file try to follow the CSS GUIDELINES http://cssguidelin.es/
 * For more information about this file structure, refere to https://github.com/inuitcss/getting-started
 *
 * Thanks to Harry Roberts to share this amazing way to build good CSS :)
 */
/**
 * CONTENTS
 *
 * SETTINGS
 * Default .................inuitcss' default settings
 * Global...................Globally-available variables and settings/config
 * Colors...................Manage our color palette in isolation
 *
 * TOOLS
 * Functions................inuitcss' default functions
 * Mixins...................inuitcss' default mixins
 * Mixins...................Custom mixins
 * Aliases..................Aliases onto longer inuitcss variables and mixins
 *
 * GENERIC
 * Reset....................A pared back reset to remove margins
 * Normalize.css............A level playing field
 * Box-sizing...............Better default 'box-sizing'
 * Shared...................Sensibly and tersely share global commonalities
 *
 * BASE
 * Page.....................Page-level styles (HTML element)
 * Page.....................Our extension of the inuitcss page module
 * Headings.................Heading styles
 * Type.....................Misc type styles
 * Links....................Hyperlink styles
 * Forms....................Base form styles classes
 *
 * OBJECTS
 * Wrappers.................Wrappers and page constraints
 *
 * COMPONENTS
 *
 * TRUMPS
 * Clearfix.................inuitcss' clearfix for floats
 * Widths...................Simple width helper classes
 * Spacing..................Micro-level spacing
 * Show/hide................Helper to show/hide stuff
 */
/**
 * SETTINGS
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/*------------------------------------*    #GLOBAL
\*------------------------------------*/
/*------------------------------------*    #COLORS
\*------------------------------------*/
/**
 * TOOLS
 */
/*------------------------------------*    #MIXINS
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/**
 * GENERIC
 */
/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
@import url("//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300");
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem;
}

/**
 * BASE
 */
/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #333;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */
}

/*------------------------------------*    #PAGE
\*------------------------------------*/
html {
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */
h1,
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333;
}

h2,
.beta {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
}

h3,
.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h4,
.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h6,
.zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

/*------------------------------------*    #TYPE
\*------------------------------------*/
/**
 * Typographical base selectors
 */
/**
 * Headings 1-6
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.0909090909;
}

.heading-sub {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0;
}

/**
 * Horizontal rules.
 */
hr {
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 23px;
}

/*------------------------------------*    #LINKS
\*------------------------------------*/
/**
 * OBJECTS
 */
/*------------------------------------*    #WRAPPERS
\*------------------------------------*/
.o-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 45em) {
  .o-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.o-map-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/**
 * COMPONENTS
 *
 */
/**
 * TRUMPS
 */
/*------------------------------------*    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`). Use these in your markup:
 *
 * <div class="u-7/12">
 */
.u-1-of-1 {
  width: 100% !important;
}

.u-1-of-2 {
  width: 50% !important;
}

.u-1-of-3 {
  width: 33.3333333333% !important;
}

.u-2-of-3 {
  width: 66.6666666667% !important;
}

.u-1-of-4 {
  width: 25% !important;
}

.u-2-of-4 {
  width: 50% !important;
}

.u-3-of-4 {
  width: 75% !important;
}

.u-1-of-5 {
  width: 20% !important;
}

.u-2-of-5 {
  width: 40% !important;
}

.u-3-of-5 {
  width: 60% !important;
}

.u-4-of-5 {
  width: 80% !important;
}

/*------------------------------------*    #WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
 * Responsive width classes based on your responsive settings.
 */
@media screen and (max-width: 44.9375em) {
  .u-1-of-1\@palm {
    width: 100% !important;
  }
  .u-1-of-2\@palm {
    width: 50% !important;
  }
  .u-1-of-3\@palm {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@palm {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@palm {
    width: 25% !important;
  }
  .u-2-of-4\@palm {
    width: 50% !important;
  }
  .u-3-of-4\@palm {
    width: 75% !important;
  }
  .u-1-of-5\@palm {
    width: 20% !important;
  }
  .u-2-of-5\@palm {
    width: 40% !important;
  }
  .u-3-of-5\@palm {
    width: 60% !important;
  }
  .u-4-of-5\@palm {
    width: 80% !important;
  }
}

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .u-1-of-1\@lap {
    width: 100% !important;
  }
  .u-1-of-2\@lap {
    width: 50% !important;
  }
  .u-1-of-3\@lap {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@lap {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@lap {
    width: 25% !important;
  }
  .u-2-of-4\@lap {
    width: 50% !important;
  }
  .u-3-of-4\@lap {
    width: 75% !important;
  }
  .u-1-of-5\@lap {
    width: 20% !important;
  }
  .u-2-of-5\@lap {
    width: 40% !important;
  }
  .u-3-of-5\@lap {
    width: 60% !important;
  }
  .u-4-of-5\@lap {
    width: 80% !important;
  }
}

@media screen and (min-width: 45em) {
  .u-1-of-1\@lap-and-up {
    width: 100% !important;
  }
  .u-1-of-2\@lap-and-up {
    width: 50% !important;
  }
  .u-1-of-3\@lap-and-up {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@lap-and-up {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@lap-and-up {
    width: 25% !important;
  }
  .u-2-of-4\@lap-and-up {
    width: 50% !important;
  }
  .u-3-of-4\@lap-and-up {
    width: 75% !important;
  }
  .u-1-of-5\@lap-and-up {
    width: 20% !important;
  }
  .u-2-of-5\@lap-and-up {
    width: 40% !important;
  }
  .u-3-of-5\@lap-and-up {
    width: 60% !important;
  }
  .u-4-of-5\@lap-and-up {
    width: 80% !important;
  }
}

@media screen and (max-width: 63.9375em) {
  .u-1-of-1\@portable {
    width: 100% !important;
  }
  .u-1-of-2\@portable {
    width: 50% !important;
  }
  .u-1-of-3\@portable {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@portable {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@portable {
    width: 25% !important;
  }
  .u-2-of-4\@portable {
    width: 50% !important;
  }
  .u-3-of-4\@portable {
    width: 75% !important;
  }
  .u-1-of-5\@portable {
    width: 20% !important;
  }
  .u-2-of-5\@portable {
    width: 40% !important;
  }
  .u-3-of-5\@portable {
    width: 60% !important;
  }
  .u-4-of-5\@portable {
    width: 80% !important;
  }
}

@media screen and (min-width: 64em) {
  .u-1-of-1\@desk {
    width: 100% !important;
  }
  .u-1-of-2\@desk {
    width: 50% !important;
  }
  .u-1-of-3\@desk {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@desk {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@desk {
    width: 25% !important;
  }
  .u-2-of-4\@desk {
    width: 50% !important;
  }
  .u-3-of-4\@desk {
    width: 75% !important;
  }
  .u-1-of-5\@desk {
    width: 20% !important;
  }
  .u-2-of-5\@desk {
    width: 40% !important;
  }
  .u-3-of-5\@desk {
    width: 60% !important;
  }
  .u-4-of-5\@desk {
    width: 80% !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1-of-1\@retina {
    width: 100% !important;
  }
  .u-1-of-2\@retina {
    width: 50% !important;
  }
  .u-1-of-3\@retina {
    width: 33.3333333333% !important;
  }
  .u-2-of-3\@retina {
    width: 66.6666666667% !important;
  }
  .u-1-of-4\@retina {
    width: 25% !important;
  }
  .u-2-of-4\@retina {
    width: 50% !important;
  }
  .u-3-of-4\@retina {
    width: 75% !important;
  }
  .u-1-of-5\@retina {
    width: 20% !important;
  }
  .u-2-of-5\@retina {
    width: 40% !important;
  }
  .u-3-of-5\@retina {
    width: 60% !important;
  }
  .u-4-of-5\@retina {
    width: 80% !important;
  }
}

/*------------------------------------*    #SHOW-HIDE
\*------------------------------------*/
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /*IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
}

h1 {
  height: 120px;
  margin: auto;
  padding: 20px 20px 0;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

.c-fixed-list,
.c-search-block {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
}

@media (max-width: 500px) {
  .c-fixed-list,
  .c-search-block {
    width: 50%;
  }
  .c-search-block {
    width: 100%;
  }
}

.c-fixed-list {
  overflow-y: auto;
  margin: 0;
  height: 100%;
  padding: 60px 0 20px;
  z-index: 9;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms ease;
          transition: transform 300ms ease;
}

.c-fixed-list.show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.c-fixed-list h3 {
  margin-top: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42em;
  color: #FF4E00;
}

.c-fixed-list h3 span {
  border-bottom: 1px solid #FF4E00;
}

.c-fixed-list p span {
  display: block;
}

.c-fixed-list li {
  margin: 0;
  padding: 30px 20px 20px;
  list-style: none;
  cursor: pointer;
  border-top: 1px dashed #ccc;
}

.c-fixed-list li:first-child {
  border-top: 0;
}

.c-fixed-list li:hover {
  background-color: lightyellow;
  color: #000;
}

.c-fixed-list li.active {
  background-color: #efefef;
  color: #000;
}

@media (max-width: 500px) {
  .c-fixed-list li h3 {
    font-size: 18px;
  }
  .c-fixed-list li p {
    font-size: 14px;
  }
}

.c-search-block {
  padding: 20px;
  z-index: 10;
}

.c-search-block small {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-align: right;
  color: #FF4E00;
}

.c-search-block small:hover {
  text-decoration: underline;
}

.img-container {
  padding-top: 5px;
  text-align: center;
}

.img-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.info_content p {
  max-width: 220px;
}

.info_content .review {
  position: relative;
}

.info_content .review img {
  display: inline-block;
  float: left;
  max-width: 50px;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */