<footer id="main-foot">
    <div class="c-page-foot">
        <div class="o-layout">
            {% spaceless %}
            <div class="o-layout__item u-1-of-2">
                <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
                </p>
            </div>
            <div class="o-layout__item u-1-of-2">
                <!-- MENÚ -->
            </div>
            {% endspaceless %}
        </div>
    </div>
</footer>