<header id="main-head">
	<div class="c-page-head">
		<div class="c-page-head__brand">
			<h1><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></h1>
		</div>
		<nav class="c-site-nav">
			<!-- MAIN MENU -->
            {{ menu('main', 'includes/_sub_menu.twig') }}
		</nav>
	</div>
</header>